<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd"
       profile="prod">

    <context:component-scan base-package="com.wjiec.springaio.advanced.xmlwiring"/>

    <bean id="notepad" class="com.wjiec.springaio.advanced.xmlwiring.model.Notepad" scope="prototype"/>

    <bean id="mysql" class="com.wjiec.springaio.advanced.xmlwiring.database.MySql"/>
    <bean id="postgresql" class="com.wjiec.springaio.advanced.xmlwiring.database.Postgresql" primary="true"/>

</beans>