<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

<form th:action="@{/custom-login}" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    RememberMe: <input type="checkbox" name="remember-me">
    <button>Login</button>
</form>

</body>
</html>