<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.wjiec.springaio.xmlwiring"/>

    <bean name="author" class="com.wjiec.springaio.xmlwiring.model.Author">
        <constructor-arg value="Jayson"/>
        <property name="age" value="17"/>
    </bean>

    <bean name="music" class="com.wjiec.springaio.xmlwiring.model.Music">
        <constructor-arg value="Oops~"/>
        <property name="author" ref="author"/>
    </bean>

</beans>