/**
 *
 */

$title-font: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
$title-font_size: 16px;

$section-font: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
$section-font-size: 12px;
