/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "variable";
@import "compass/reset";

h1, h2, h3, h4, h5, h6 {
    font: {
        family: $title-font;
        size: $title-font-size;
    }

    span {
        font-family: $section-font;
        font-size: $section-font-size;
    }
}

section {
    font-family: $section-font;
    font-size: $section-font-size;
}

.animation {
    transition: all .5s;
}
