<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>parent-component title</h1>
        <my-component></my-component>
    </div>
    <script>
        Vue.component('my-component', {
            template: '<div>\
                <h1>chind-component title</h1>\
                <slot><p>child-component default conetents</p></slot>\
            </div>'
        })

        var vm = new Vue({
            el: '#app'
        })
    </script>
</body>
</html>
