<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${user.username} + ' | SpringSecurity'">username | SpringSecurity</title>
</head>
<body>

<h1 th:text="${user.username}">username</h1>
<p>Email: <span th:text="${user.email}">example@damain.com</span></p>
<p>Password: <span th:text="${user.password}">password</span></p>
<p>CreatedAt: <span th:text="${user.createdAt}">2020-01-01 00:00:00</span></p>
<p>UpdatedAt: <span th:text="${user.updatedAt}">2020-01-01 00:00:00</span></p>

</body>
</html>