<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration | SpringSecurity</title>
</head>
<body>

<h1 th:text="#{label.form.title}">Form</h1>
<form th:object="${userDTO}" method="post">
    <div class="form-item">
        <label th:text="#{label.form.username}" for="username">username</label>
        <div class="form-control">
            <input type="text" th:field="*{username}" id="username"/>
            <p th:if="${#fields.hasErrors('username')}">
                <span th:each="e : ${#fields.errors('username')}" th:text="${e}">error message</span>
            </p>
        </div>
    </div>
    <div class="form-item">
        <label th:text="#{label.form.password}" for="password">password</label>
        <div class="form-control">
            <input type="text" th:field="*{password}" id="password"/>
            <p th:if="${#fields.hasErrors('password')}">
                <span th:each="e : ${#fields.errors('password')}" th:text="${e}">error message</span>
            </p>
        </div>
    </div>
    <div class="form-item">
        <label th:text="#{label.form.confirmPassword}" for="confirmPassword">confirm password</label>
        <div class="form-control">
            <input type="text" th:field="*{confirmPassword}" id="confirmPassword"/>
        </div>
    </div>
    <div class="form-item">
        <label th:text="#{label.form.email}" for="email">email</label>
        <div class="form-control">
            <input type="text" th:field="*{email}" id="email"/>
        </div>
        <p th:if="${#fields.hasErrors('email')}">
            <span th:each="e : ${#fields.errors('email')}" th:text="${e}">error message</span>
        </p>
    </div>
    <div class="form-item">
        <div class="form-control">
            <button th:text="#{label.form.submit}">submit</button>
        </div>
    </div>
</form>

</body>
</html>