<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Spring Shop</title>
</head>
<body>

    <h1><span th:if="${principal}">Hello <span th:text="${principal.getUsername()}"></span>, </span>Welcome to Spring Shop</h1>
    <a th:href="@{/shopping}">Go Shopping</a>

</body>
</html>